---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ .Values.cloudflared.name }}
  name: {{ .Values.cloudflared.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.cloudflared.name }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ .Values.cloudflared.name }}
    spec:
      containers:
        - name: {{ .Values.cloudflared.name }}
          image: {{ tpl .Values.cloudflared.image . }}
          args:
            - tunnel
            - --config
            - /etc/cloudflared/config/config.yaml
            - run
          resources: 
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /ready
              port: 2000
          volumeMounts:
            - name: config
              mountPath: /etc/cloudflared/config
              readOnly: true
            - name: creds
              mountPath: /etc/cloudflared/creds
              readOnly: true
      nodeSelector: 
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      tolerations: 
        {{- toYaml .Values.tolerations | nindent 8 }}
      volumes:
        - name: creds
          secret:
            secretName: {{ .Values.cloudflared.tunnelSecret.name }}
        - name: config
          configMap:
            name: {{ .Values.cloudflared.config.name }}
            items:
              - key: config.yaml
                path: config.yaml
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ .Values.cloudflared.name }}
  name: {{ .Values.cloudflared.config.name }}
  namespace: {{ .Values.namespace }}
data:
  config.yaml: |
    tunnel: {{ .Values.cloudflared.config.tunnel }}
    credentials-file: /etc/cloudflared/creds/credentials.json
    metrics: 0.0.0.0:2000
    no-autoupdate: true
    ingress:
    - hostname: {{ .Values.cloudflared.config.externalHost }}
      service: {{ tpl .Values.speissApi.service.host . }}
    - service: http_status:404
---
apiVersion: v1
kind: Secret
data:
  credentials.json: {{ .Values.cloudflared.tunnelSecret.value }}
metadata:
  labels:
    app: {{ .Values.cloudflared.name }}
  name: {{ .Values.cloudflared.name }}
  namespace: {{ .Values.namespace }}
type: Opaque