replicaCount: 1

resources:
  limits:
    cpu: 1000m
    ephemeral-storage: 512Mi
    memory: 256Mi
  requests:
    cpu: 250m
    ephemeral-storage: 512Mi
    memory: 256Mi

nodeSelector:
  cloud.google.com/gke-spot: "true"

tolerations:
  - effect: NoSchedule
    key: cloud.google.com/gke-spot
    operator: Equal
    value: "true"

namespace: default

artifactRepo: "" # Set with helm template command

speissApi:
  name: speiss-api
  version: "0.1.0"
  image: "{{ .Values.artifactRepo }}/{{ .Values.speissApi.name }}:{{ .Values.speissApi.version }}"
  service:
    name: "{{ .Values.speissApi.name }}-service"
    host: "http://{{ tpl .Values.speissApi.service.name . }}.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.speissApi.service.port }}"
    port: 80
    targetPort: 80

ephemeris:
  name: ephemeris
  version: "0.1.0"
  image: "{{ .Values.artifactRepo }}/{{ .Values.ephemeris.name }}:{{ .Values.ephemeris.version }}"
  service:
    name: "{{ .Values.ephemeris.name }}-service"
    host: "http://{{ tpl .Values.ephemeris.service.name . }}.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.ephemeris.service.port }}"
    port: 80
    targetPort: 80

cloudflared:
  name: cloudflared
  version: "2022.1.0"
  image: "cloudflare/cloudflared:{{ .Values.cloudflared.version }}"
  config:
    name: cloudflared
    externalHost: speiss-api.fishcreek.dev
    tunnel: speiss-tunnel
  tunnelSecret:
    name: tunnel-credentials
    value: "" # Set with helm template command
